<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
      matInput
      type="text"
      name="title"
      [ngModel]="post?.title"
      required
      placeholder="Post title"
      #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field> <br/>
    <mat-form-field>
      <input
      matInput
      type="text"
      name="folder"
      [ngModel]="post?.folder"
      placeholder="Post folder"
      #title="ngModel">
    </mat-form-field> <br/>
    <mat-form-field>
      <textarea
       matInput
       rows="20"
       name="content"
       [ngModel]="post?.content"
       required
       placeholder="Post content"
       #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a content</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" > Save post </button>
  </form>
</mat-card>
